/Unreal Engine/PurgatorySea/Intermediate/
/Unreal Engine/PurgatorySea/Saved/
/Core/.idea/
/Core/.vs/
/Core/PurgatorySeaCore/x64/
/Core/x64/
/Unreal Engine/PurgatorySea/.idea/
/Unreal Engine/PurgatorySea/.vs/
/Unreal Engine/PurgatorySea/Binaries/
/Unreal Engine/PurgatorySea/Platforms/HoloLens/Config/HoloLensEngine.ini
/Unreal Engine/PurgatorySea/.vsconfig
